@use "../abstracts/index" as *;

body {
    background-color: $body;
}

.container-produits {
    height: fit-content;
    display: flex;
    flex-direction: row;

    .filter {
        flex: 1;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 2rem;
        gap: 1rem;
        border-right: solid 0.5px #0000004b;
        img{
            width: 6rem;
            height: 6rem;
        }
    }
    .liste-card-product {
        flex: 3;
        h1{
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-family: $font-primary;
            font-size: 20px;
            text-align: center;
            width: 38.2rem;
        }
    }
}