@use "../abstracts/index" as *;

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    background-color: $color-header-MacDo;

    h1 {
        font-family: "speedee";
        font-size: 15px;
    }
}

.selection-header{

    .row{
        justify-content: space-between;
        align-items: center;
    }
}