@use "../../abstracts/index" as *;

.primary-btn {
    height: 3.5rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ColorTexte;
    background-color: #ffbc0d;
    font-size: 11px;
    font-family: "speedee";
    border-radius: 5px;
    img {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}
