$body : #000000;
$color-header-MacDo : #009b3e;
$color-text : #000000;
$color-btn : #ffbc0d;
$color-btn-secondary : #ffffff;
$main : #faebd7;
$cards : #000000;
$cards-background : #ffffff;
$cards-modal-background : #000000b3;
$cards-modal-title : #fff;