.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

