@use "../abstracts/index" as *;

.container {
    margin: 0 auto;
    width: 90%;
}
main {
    background-color: $main;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 60px;
        height: 60px;
    }
}
/*------------------------------------------*/
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

body{
    width: 500px;
    margin: 0 auto;
    border: 1px solid $body;
    height: 100vh;
}
/*------------------------------------------*/